line 1 note

In [106]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")
import seaborn as sns
import datetime

line 2 note

In [107]:
data = pd.read_csv('Datamart-Export_DY_WK100-500 Pound Barrel Cheddar Cheese Prices, Sales, and Moisture Content_20170829_122601.csv')

line 3 note

In [108]:
data.shape

(1410, 7)

line 4 note

In [109]:
data.head(10)

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content
0,8/19/2017,8/23/2017,22-Jul,1.5238,1.4489,"9,233,624",34.79
1,8/19/2017,8/23/2017,29-Jul,1.5636,1.4863,"10,948,266",34.77
2,8/19/2017,8/23/2017,5-Aug,1.5891,1.5113,"11,520,370",34.81
3,8/19/2017,8/23/2017,12-Aug,1.6360,1.5526,"10,741,788",34.67
4,8/19/2017,8/23/2017,19-Aug,1.6543,1.5738,"11,131,479",34.83
5,8/12/2017,8/16/2017,12-Aug,1.6360,1.5526,"10,752,293",34.67
6,8/12/2017,8/16/2017,5-Aug,1.5891,1.5113,"11,520,371",34.81
7,8/12/2017,8/16/2017,29-Jul,1.5636,1.4863,"10,948,267",34.77
8,8/12/2017,8/16/2017,22-Jul,1.5238,1.4489,"9,233,624",34.80
9,8/12/2017,8/16/2017,15-Jul,1.4880,1.4164,"13,441,457",34.87

line 5 Verify that we are working with a data frame. We ‘know’ we have a data frame, type(data) verifies that the data was read in as a data frame .

In [110]:
type(data)

pandas.core.frame.DataFrame

In [111]:
data.dtypes

Week Ending Date                            object
Report Date                                 object
Date                                        object
Weighted Price                             float64
Weighted Price adjusted to 38% moisture    float64
Sales                                       object
Moisture Content                           float64
dtype: object

Line 6: See if we have any missing data. We don’t have any missing data. We are asking if there are any null values. If we had any null values we would get ‘True” but since everything is ‘False’ we don’t have any null values.

In [112]:
data.isnull().any()

Week Ending Date                           False
Report Date                                False
Date                                       False
Weighted Price                             False
Weighted Price adjusted to 38% moisture    False
Sales                                      False
Moisture Content                           False
dtype: bool

Line 7: Use data.describe to see an overview of the data means, median, max, min, etc for each column. This gives us information on the columns with data, but the columns with word descriptors (such as salary with low, medium & high are not included). This is an interesting feature that gives us some statistical information about our data.

In [113]:
data.describe()

,Weighted Price,Weighted Price adjusted to 38% moisture,Moisture Content
count,1410.000000,1410.000000,1410.000000
mean,1.807688,1.742051,34.576922
std,0.314208,0.241344,3.590251
min,0.000000,1.354400,0.000000
25%,1.621600,1.554700,34.840000
50%,1.767600,1.687650,34.945000
75%,1.919800,1.831800,35.040000
max,2.598400,2.476400,35.350000

line 8:  convert dates

In [114]:
#I don't need this
wedate=data['Week Ending Date']
#type(rptdt)         pandas.core.series.Series
wedate.head(10)

0    8/19/2017
1    8/19/2017
2    8/19/2017
3    8/19/2017
4    8/19/2017
5    8/12/2017
6    8/12/2017
7    8/12/2017
8    8/12/2017
9    8/12/2017
Name: Week Ending Date, dtype: object

line?:  I tried various ways to change the 'Date' column into a date format.  So I ended up "forcing" a temporary date with ta fake year then force it into a date format & then split out the day and month and then add it to the yer

In [115]:
data['temp']=data['Date'].astype(basestring)+'-1999'
data.head(5)

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp
0,8/19/2017,8/23/2017,22-Jul,1.5238,1.4489,"9,233,624",34.79,22-Jul-1999
1,8/19/2017,8/23/2017,29-Jul,1.5636,1.4863,"10,948,266",34.77,29-Jul-1999
2,8/19/2017,8/23/2017,5-Aug,1.5891,1.5113,"11,520,370",34.81,5-Aug-1999
3,8/19/2017,8/23/2017,12-Aug,1.6360,1.5526,"10,741,788",34.67,12-Aug-1999
4,8/19/2017,8/23/2017,19-Aug,1.6543,1.5738,"11,131,479",34.83,19-Aug-1999

Line ? extract the year from the week ending date

In [116]:
#type(rptdt)     pandas.core.series.Series
data['Week Ending Date'] = pd.to_datetime(data['Week Ending Date'])

data['year'] = data['Week Ending Date'].dt.year
data.head(5)

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,year
0,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,"9,233,624",34.79,22-Jul-1999,2017
1,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,"10,948,266",34.77,29-Jul-1999,2017
2,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,"11,520,370",34.81,5-Aug-1999,2017
3,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,"10,741,788",34.67,12-Aug-1999,2017
4,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,"11,131,479",34.83,19-Aug-1999,2017

line next line is all junk...

In [117]:

#type(date)       pandas.core.series.Series
#data['Date'] = pd.to_datetime(data['Date'])       OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-07-22 00:00:00
#data['month']= data['Date'].dt.month
#newdate = datetime.datetime.strptime("Date", '%d-%b')
#a = datetime.datetime(date)           TypeError: cannot convert the series to <type 'int'>
#datetime_object = datetime.strptime('date', '%b-%d')
#datetime.strptime('Date', '%d-%b')
#a=date.strip('-')         AttributeError: 'Series' object has no attribute 'strip'
#a.head(10)
#type(rptdt)     pandas.core.series.Series

#for d in data:
   # a=data['Date'].strip('-')  'Series' object has no attribute 'strip'
    #a[0]=data['day']
  #  print(a)
    #if a[0]=='Jan':
    #    data['month']='01'
   # else:
   #     data['month']='13'
        
#day=data['Date'].iloc[0:1409,'Date'] IndexingError: Too many indexers
#day
#type(data['Date'])  pandas.core.series.Series
#data['day'] = data['Date'].dt.day AttributeError: Can only use .dt accessor with datetimelike valu
#data['temp']=data['Date']+'-'



#newdate='{0}/{1}/'.format(dt.month, dt.day, 'year' % 100)
#newdate.head(10)
#print '{0}/{1}/{2:02}'.format(dt.month, dt.day, dt.year % 100)

line? this splits the date into the month and year form the date format we forced into creation

In [118]:
#data[newtemp]=data['temp']+data['year']   TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('S21') dtype('S21') dtype('S21')
#data['month']=data['temp'].strip('-')   'Series' object has no attribute 'strip'
#type(data['temp']) pandas.core.series.Series
#newd=datetime.datetime.strptime("temp", '%d-%b-%Y')
#data.head(10)
data['temp'] = pd.to_datetime(data['temp'])
data['month'],data['day'] = data['temp'].dt.month, data['temp'].dt.day 
data.head(10)

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,year,month,day
0,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,"9,233,624",34.79,1999-07-22,2017,7,22
1,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,"10,948,266",34.77,1999-07-29,2017,7,29
2,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,"11,520,370",34.81,1999-08-05,2017,8,5
3,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,"10,741,788",34.67,1999-08-12,2017,8,12
4,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,"11,131,479",34.83,1999-08-19,2017,8,19
5,2017-08-12,8/16/2017,12-Aug,1.6360,1.5526,"10,752,293",34.67,1999-08-12,2017,8,12
6,2017-08-12,8/16/2017,5-Aug,1.5891,1.5113,"11,520,371",34.81,1999-08-05,2017,8,5
7,2017-08-12,8/16/2017,29-Jul,1.5636,1.4863,"10,948,267",34.77,1999-07-29,2017,7,29
8,2017-08-12,8/16/2017,22-Jul,1.5238,1.4489,"9,233,624",34.80,1999-07-22,2017,7,22
9,2017-08-12,8/16/2017,15-Jul,1.4880,1.4164,"13,441,457",34.87,1999-07-15,2017,7,15

line ?  replace our fake year with the correct year by combining the year, month and day

In [119]:
#data['temp']=data['year']+'-'+data['month']+'-'+data['day'] TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('S21') dtype('S21') dtype('S21')
#data['temp']=pd.concat(data['year'],data['month'],data['day'])   TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"
#data['temp']=data['year'].astype(basestring)+'-'+data['month'].astype(basestring)+'-'+data['day'].astype(basestring) TypeError: unsupported operand type(s) for +: 'long' and 'str'
#data['temp']=data['year'].astype(basestring)+'-1900'  TypeError: unsupported operand type(s) for +: 'long' and 'str'
#data['temp']=pd.Series([data['year'], data['month'], data['day']]).str.cat(sep='-')  TypeError: sequence item 0: expected string, Series found
#data['temp']=pd.Series([data['year'].astype(basestring), data['month'].astype(basestring),data['day'].astype(basestring)]).str.cat(sep='-')
#newd=datetime.strptime("temp", '%Y-%m-%d')  AttributeError: 'module' object has no attribute 'strptime'                      
#newd=datetime.strptime(data["temp"], '%Y-%m-%d')  AttributeError: 'module' object has no attribute 'strptime'

data['temp'] = data['year'].map(str)+'-' + data['month'].map(str) +'-'+ data['day'].map(str)     
#data['temp'] = data['year'].map(str)+'-' + data['month'].map(str) +'-'+ data['day'].map(str)  works but won't read as date
#data['temp'] = data['year'].map(str,)+data['month'].map(str) +data['day'].map(str)   works byt won't read as date
#type(data['temp'])    pandas.core.series.Series
data.head(5)

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,year,month,day
0,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,"9,233,624",34.79,2017-7-22,2017,7,22
1,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,"10,948,266",34.77,2017-7-29,2017,7,29
2,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,"11,520,370",34.81,2017-8-5,2017,8,5
3,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,"10,741,788",34.67,2017-8-12,2017,8,12
4,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,"11,131,479",34.83,2017-8-19,2017,8,19

line now we need to convert the newly converted temp into a date format object

In [120]:
#df = (data['temp'], sep='-', parse_dates=[0])
#df.info()

#newdate = datetime.datetime.strptime("2017/7/22", '%Y/%m/%d').strftime('%m/%d/%y')     works '07/22/17'

#data['temp']=data['temp'].astype(basestring)    type is pandas.core.series.Series

#data['temp'].to_string()       type is pandas.core.series.Series
#data.temp.apply(str)       type is pandas.core.series.Series
#data['temp'].astype(basestring)       type is pandas.core.series.Series
#data['temp']= data['temp'].astype(str)       type is pandas.core.series.Series
#data['temp'] = data['temp'].astype('datetime64')    ValueError: Error parsing datetime string "2012/3/3" at position 4
data['temp'] = pd.to_datetime(data['temp'])
data['Week Ending Date'] = pd.to_datetime(data['Week Ending Date'])
data.head(5)

#data['Week Ending Date'] = data['Week Ending Date'].astype('datetime64')  ValueError: Error parsing datetime string "3/31/2012" at position 1
#type(data['Week Ending Date'])
#newdate = datetime.datetime.strptime(data["temp"], '%Y/%m/%d').strftime('%m/%d/%y')
#newdate = datetime.datetime.strptime(data["temp"], '%Y/%m/%d')
#newdate

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,year,month,day
0,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,"9,233,624",34.79,2017-07-22,2017,7,22
1,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,"10,948,266",34.77,2017-07-29,2017,7,29
2,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,"11,520,370",34.81,2017-08-05,2017,8,5
3,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,"10,741,788",34.67,2017-08-12,2017,8,12
4,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,"11,131,479",34.83,2017-08-19,2017,8,19

line ?  check our data types

In [121]:
data.dtypes

Week Ending Date                           datetime64[ns]
Report Date                                        object
Date                                               object
Weighted Price                                    float64
Weighted Price adjusted to 38% moisture           float64
Sales                                              object
Moisture Content                                  float64
temp                                       datetime64[ns]
year                                                int64
month                                               int64
day                                                 int64
dtype: object

line convert sales to an integer

In [122]:
#data['Sales'].astype(str).astype(int)
#data['Sales'].astype(str)
#data['Sales'].astype(int)
#pd.factorize(data['Sales'])[0]    object
#data['Sales'].astype(basestring).astype(int)
data['Sales'] = data['Sales'].str.replace(',', '')
data['Sales'] = pd.to_numeric(data['Sales'])          #or data['Sales'] data['Sales'].astype(int)

data.dtypes

Week Ending Date                           datetime64[ns]
Report Date                                        object
Date                                               object
Weighted Price                                    float64
Weighted Price adjusted to 38% moisture           float64
Sales                                               int64
Moisture Content                                  float64
temp                                       datetime64[ns]
year                                                int64
month                                               int64
day                                                 int64
dtype: object

line?  now that we have a date format in week ending & the temp column we can nw get the difference to find the age of the cheese.

In [123]:
#age=data['Week Ending Date']-data['temp']    works
#age.strip( 'days')
#age.replace( 'days','weeks')
#age.astype(basestring)
data['age']=data['Week Ending Date']-data['temp']
data['age'].head(10)
#data.head(10)

0   28 days
1   21 days
2   14 days
3    7 days
4    0 days
5    0 days
6    7 days
7   14 days
8   21 days
9   28 days
Name: age, dtype: timedelta64[ns]

line ?  ok so now we have our dates converted to dates and we've used those to find the age of the cheese.  our data frame now looks like:

In [124]:
data.head(5)

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,year,month,day,age
0,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,9233624,34.79,2017-07-22,2017,7,22,28 days
1,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,10948266,34.77,2017-07-29,2017,7,29,21 days
2,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,11520370,34.81,2017-08-05,2017,8,5,14 days
3,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,10741788,34.67,2017-08-12,2017,8,12,7 days
4,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,11131479,34.83,2017-08-19,2017,8,19,0 days

line ? lets drop the day colum we created we'll keep month & year for now

In [126]:
df1=data
#df1.drop(['year', 'month', 'day'],axis=1)  
#del df1['year', 'month', 'day']
#del df1['year']
#del df1[data['year']]
#del df1['month']
#del df1['day']
del df1['day']
df1.head(5)

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,year,month,age
0,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,9233624,34.79,2017-07-22,2017,7,28 days
1,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,10948266,34.77,2017-07-29,2017,7,21 days
2,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,11520370,34.81,2017-08-05,2017,8,14 days
3,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,10741788,34.67,2017-08-12,2017,8,7 days
4,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,11131479,34.83,2017-08-19,2017,8,0 days

line ?:so now that we have the age of the cheese we can compare pricing age to age

In [132]:
#Summarizwe the data by age
years = data.set_index("year")
#Get the sums of sales of each region by year
#years = years.groupby("Year").sum()
#View the first 5 entries of the data to see what we are working with
years.head()

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,month,age
year,,,,,,,,,,
2017,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,9233624,34.79,2017-07-22,7,28 days
2017,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,10948266,34.77,2017-07-29,7,21 days
2017,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,11520370,34.81,2017-08-05,8,14 days
2017,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,10741788,34.67,2017-08-12,8,7 days
2017,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,11131479,34.83,2017-08-19,8,0 days

In [ ]:
line?  need to correct dec dates for year flip

In [131]:
#sns.barplot(x="Sales",y="age",data=df1,estimator=sum)
#df1.plot(x='Week Ending Date', y='age')

df2017=data[data.year == 2017]
df2017
#sns.FacetGrid(df1, hue="age", size=3) \
#   .map(sns.kdeplot, "Sales") \
 #  .add_legend()



#plt.plot('Week Ending Date', 'age')
#plt.legend()

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content,temp,year,month,age
0,2017-08-19,8/23/2017,22-Jul,1.5238,1.4489,9233624,34.79,2017-07-22,2017,7,28 days
1,2017-08-19,8/23/2017,29-Jul,1.5636,1.4863,10948266,34.77,2017-07-29,2017,7,21 days
2,2017-08-19,8/23/2017,5-Aug,1.5891,1.5113,11520370,34.81,2017-08-05,2017,8,14 days
3,2017-08-19,8/23/2017,12-Aug,1.6360,1.5526,10741788,34.67,2017-08-12,2017,8,7 days
4,2017-08-19,8/23/2017,19-Aug,1.6543,1.5738,11131479,34.83,2017-08-19,2017,8,0 days
5,2017-08-12,8/16/2017,12-Aug,1.6360,1.5526,10752293,34.67,2017-08-12,2017,8,0 days
6,2017-08-12,8/16/2017,5-Aug,1.5891,1.5113,11520371,34.81,2017-08-05,2017,8,7 days
7,2017-08-12,8/16/2017,29-Jul,1.5636,1.4863,10948267,34.77,2017-07-29,2017,7,14 days
8,2017-08-12,8/16/2017,22-Jul,1.5238,1.4489,9233624,34.80,2017-07-22,2017,7,21 days
9,2017-08-12,8/16/2017,15-Jul,1.4880,1.4164,13441457,34.87,2017-07-15,2017,7,28 days
10,2017-08-05,8/9/2017,8-Jul,1.4911,1.4204,10796511,34.91,2017-07-08,2017,7,28 days
11,2017-08-05,8/9/2017,15-Jul,1.4880,1.4164,13441457,34.87,2017-07-15,2017,7,21 days
12,2017-08-05,8/9/2017,22-Jul,1.5238,1.4489,9233624,34.80,2017-07-22,2017,7,14 days
13,2017-08-05,8/9/2017,29-Jul,1.5636,1.4863,10948267,34.77,2017-07-29,2017,7,7 days
14,2017-08-05,8/9/2017,5-Aug,1.5902,1.5124,11361822,34.81,2017-08-05,2017,8,0 days
15,2017-07-29,8/2/2017,29-Jul,1.5636,1.4863,10935962,34.77,2017-07-29,2017,7,0 days
16,2017-07-29,8/2/2017,22-Jul,1.5238,1.4489,9233624,34.80,2017-07-22,2017,7,7 days
17,2017-07-29,8/2/2017,15-Jul,1.4880,1.4164,13441457,34.87,2017-07-15,2017,7,14 days
18,2017-07-29,8/2/2017,8-Jul,1.4911,1.4204,10796511,34.91,2017-07-08,2017,7,21 days
19,2017-07-29,8/2/2017,1-Jul,1.5125,1.4381,12210435,34.79,2017-07-01,2017,7,28 days
20,2017-07-22,7/26/2017,24-Jun,1.5710,1.4943,11220932,34.82,2017-06-24,2017,6,28 days
21,2017-07-22,7/26/2017,1-Jul,1.5125,1.4380,12210435,34.79,2017-07-01,2017,7,21 days
22,2017-07-22,7/26/2017,8-Jul,1.4911,1.4204,10789616,34.91,2017-07-08,2017,7,14 days
23,2017-07-22,7/26/2017,15-Jul,1.4887,1.4173,12831031,34.88,2017-07-15,2017,7,7 days
24,2017-07-22,7/26/2017,22-Jul,1.5243,1.4493,9110354,34.79,2017-07-22,2017,7,0 days
25,2017-07-15,7/19/2017,15-Jul,1.4893,1.4178,12765578,34.88,2017-07-15,2017,7,0 days
26,2017-07-15,7/19/2017,8-Jul,1.4911,1.4204,10789616,34.91,2017-07-08,2017,7,7 days
27,2017-07-15,7/19/2017,1-Jul,1.5125,1.4380,12210435,34.79,2017-07-01,2017,7,14 days
28,2017-07-15,7/19/2017,24-Jun,1.5710,1.4943,11220932,34.82,2017-06-24,2017,6,21 days
29,2017-07-15,7/19/2017,17-Jun,1.5987,1.5227,11656724,34.90,2017-06-17,2017,6,28 days
...,...,...,...,...,...,...,...,...,...,...,...
135,2017-02-11,2/15/2017,11-Feb,1.6668,1.5868,12390349,34.87,2017-02-11,2017,2,0 days
136,2017-02-11,2/15/2017,4-Feb,1.6842,1.6062,12310466,34.99,2017-02-04,2017,2,7 days
137,2017-02-11,2/15/2017,28-Jan,1.7316,1.6502,11741032,34.94,2017-01-28,2017,1,14 days
138,2017-02-11,2/15/2017,21-Jan,1.7325,1.6524,11723737,34.99,2017-01-21,2017,1,21 days
139,2017-02-11,2/15/2017,14-Jan,1.7193,1.6393,13702669,34.97,2017-01-14,2017,1,28 days
140,2017-02-04,2/8/2017,7-Jan,1.7453,1.6589,9571316,34.77,2017-01-07,2017,1,28 days
141,2017-02-04,2/8/2017,14-Jan,1.7193,1.6393,13702669,34.97,2017-01-14,2017,1,21 days
142,2017-02-04,2/8/2017,21-Jan,1.7325,1.6524,11723737,34.99,2017-01-21,2017,1,14 days
143,2017-02-04,2/8/2017,28-Jan,1.7316,1.6502,11741032,34.94,2017-01-28,2017,1,7 days
144,2017-02-04,2/8/2017,4-Feb,1.6842,1.6062,12310466,34.99,2017-02-04,2017,2,0 days
145,2017-01-28,2/1/2017,28-Jan,1.7314,1.6500,11660026,34.94,2017-01-28,2017,1,0 days
146,2017-01-28,2/1/2017,21-Jan,1.7325,1.6524,11723737,34.99,2017-01-21,2017,1,7 days
147,2017-01-28,2/1/2017,14-Jan,1.7193,1.6393,13702669,34.97,2017-01-14,2017,1,14 days
148,2017-01-28,2/1/2017,7-Jan,1.7453,1.6589,9571316,34.77,2017-01-07,2017,1,21 days
149,2017-01-28,2/1/2017,31-Dec,1.7644,1.6813,9501625,34.94,2017-12-31,2017,12,-337 days
150,2017-01-21,1/25/2017,24-Dec,1.7882,1.7040,10798260,34.94,2017-12-24,2017,12,-337 days
151,2017-01-21,1/25/2017,31-Dec,1.7644,1.6813,9501625,34.94,2017-12-31,2017,12,-344 days
152,2017-01-21,1/25/2017,7-Jan,1.7439,1.6575,9571316,34.77,2017-01-07,2017,1,14 days
153,2017-01-21,1/25/2017,14-Jan,1.7190,1.6390,13700563,34.97,2017-01-14,2017,1,7 days
154,2017-01-21,1/25/2017,21-Jan,1.7287,1.6489,11640854,35.00,2017-01-21,2017,1,0 days
155,2017-01-14,1/19/2017,14-Jan,1.7190,1.6390,13700563,34.97,2017-01-14,2017,1,0 days
156,2017-01-14,1/19/2017,7-Jan,1.7439,1.6575,9571316,34.77,2017-01-07,2017,1,7 days
157,2017-01-14,1/19/2017,31-Dec,1.7644,1.6813,9501625,34.94,2017-12-31,2017,12,-351 days
158,2017-01-14,1/19/2017,24-Dec,1.7882,1.7040,10798260,34.94,2017-12-24,2017,12,-344 days
159,2017-01-14,1/19/2017,17-Dec,1.7761,1.6928,12412307,34.95,2017-12-17,2017,12,-337 days
160,2017-01-07,1/11/2017,10-Dec,1.8146,1.7338,12170956,35.11,2017-12-10,2017,12,-337 days
161,2017-01-07,1/11/2017,17-Dec,1.7761,1.6928,12412307,34.95,2017-12-17,2017,12,-344 days
162,2017-01-07,1/11/2017,24-Dec,1.7882,1.7040,10798260,34.94,2017-12-24,2017,12,-351 days
163,2017-01-07,1/11/2017,31-Dec,1.7644,1.6813,9501625,34.94,2017-12-31,2017,12,-358 days
164,2017-01-07,1/11/2017,7-Jan,1.7446,1.6576,9406780,34.75,2017-01-07,2017,1,0 days

line?  need to correct